#group{
	width: 1200px;
	margin-left: 300px;
}

#names button{
    margin:0;
    padding:0;
    margin-left: 10px;
    font-size: 36px;
    display: inline;
    line-height: 220px;
}

.borders{
	outline: 2px solid white;
	outline-offset: -2px;
}

.bordersName{
	outline: 2px solid white;
	outline-offset: -2px;
}